@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .line {
    background-color: #117050;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--left img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    width: 24px;
    height: 24px;
}

section {
    padding: 140px;
}

.banner {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover; /*ocupa o espaço disponivel*/
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;/*espaçamento entre as linhas*/
    margin: 0;
    margin-bottom: 30px;
}

.banner--images {
    margin-top: 60px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {

}


.area1--img1 {
    background-color: green;
}
  
.area1--img2 {
    background-color: red;  
    grid-column: 2 / 3; 
    grid-row: 1 / 3;
}
    


